#root {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

/* styles.css */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #3b8d99, #6b0f1a);
}
/* Log in and register */

.auth-container {
    margin: auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    width: 300px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.auth-form h2 {
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #ffffffb0;
}

.form-group input {
    width: calc(100% - 20px);
    background: #535557;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #ffffffd2;
}
.form-group select {
    width: 100%;
    background: #535557;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #ffffffd2;
}

.auth-form button {
    background: #2c3e50;

    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.auth-form button:hover {
    background: #1a252f;
}

.auth-form .alternate-action {
    margin-top: 15px;
    color: #fff;
}

.auth-form .alternate-action a {
    color: #3498db;
    text-decoration: none;
}

.auth-form .alternate-action a:hover {
    text-decoration: underline;
}

/* Dash board */

.dashboard-container {
    margin: auto;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    height: 90%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.record-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    z-index: 99; /* On top of everything */
    justify-content: center;
    align-items: center;
}

.form-button {
    background: #2c3e50;

    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
.add-record-button {
    position: absolute;
    right: 50px;
    top: 40px;
}
.management-button {
    position: absolute;
    left: 30px;
    top: 40px;
}

.record-form {
    background: rgba(121, 121, 121, 1);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);

    z-index: 100; /* On top of everything */

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-div {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.record-list {
    width: 100%;
    max-height: 100%;
    min-width: 500px;
    overflow-y: auto;
    display: grid;

    padding-bottom: 10px;
    border-bottom: 1px solid rgba(172, 172, 172, 0.2);
    grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr 0.5fr;
    grid-gap: 10px;
}
.record-container {
    margin: auto;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    height: 90%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    overflow-x: scroll;
}
.record-button {
    background: #2c3e50;

    color: #fff;
    border: none;
    padding: 2px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.user-list {
    margin-top: 20px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.greyed-out {
    opacity: 0.6;
    cursor: not-allowed;
}

.logout {
    position: absolute;
    right: 30px;
    top: 50px;
    background-color: red;
}

.grid-item {
    text-align: left; /* Vertical line between items */

    border-right: 1px solid rgba(187, 186, 186, 0.2);
}

/* Remove the right border from the last item in each row */
.grid-row .grid-item:last-child {
    border-right: none;
}

@media (max-width: 700px) {
    .record-container {
        padding: 5px;
        width: 95%;
    }
    .dashboard-container {
        padding: 5px;
        width: 95%;
        padding-bottom: 60px;
    }
    .record-container ul {
        padding: 5px;
        width: 95%;
    }
    .record-container div {
        padding: 5px;
        width: 100%;
    }

    .record-list {
        grid-gap: 3px;
    }
    .add-record-button {
        position: absolute;
        right: 10px;
        top: inherit;
        bottom: 20px;
    }
    .management-button {
        position: absolute;
        right: 10px;
        top: inherit;
        bottom: 20px;
    }
}
